.header--cont {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  border-bottom: 5px solid #f23d3d;
  padding: 0 100px;
  height: 67px;
  justify-content: center;
}

.divider {
  margin: 0 3px;
  color: #f26b6b;
}
