html,
body {
  min-height: 100%;
  width: 100%;
  background-color: #3d3f40;
  font-family: "Rubik";
}

* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

.main--cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #f26b6b;
  font-size: 1.2em;
  margin-top: auto;
}
