html,
body {
  min-height: 100%;
  width: 100%;
  background-color: #3d3f40;
  font-family: "Rubik";
}

* {
  margin: 0;
}

.main--cont {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #f26b6b;
  font-size: 1.2em;
  margin-bottom: 5px;
}
